/* Override PaperMod's .first-entry fixed height constraints
   This file is loaded as part of css/extended/*.css
   See: site/themes/PaperMod/layouts/partials/head.html line 64
   Extended CSS loads after core/common theme CSS, allowing us to override component styles */

.first-entry {
    min-height: auto !important;
    justify-content: flex-start !important;
}

@media screen and (max-width: 768px) {
    .first-entry {
        min-height: auto !important;
    }
}
